@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-custom-white {
  background-color: #ffffff;
}

.text-custom-pink {
  color: #d53f8c;
}

.shadow-custom {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded-custom {
  border-radius: 0.375rem; /* Tailwind's rounded-md */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
